<!--Pulled from a basic html template on the internet-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video Game Database</title>
    <link rel="icon" href="game.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/x-icon" href="static/images/logo.jpg">
    <link rel="stylesheet" href="/static/css/gallery.css">
    <style>
    body {
      background-color: #f0f0f0;
      margin: 0;
      padding: 0;
  }
  </style>
  </head>
  <body>
    <main>
        <center><h1>Video Game Database</h1></center>
        <div class="topnav">
          <a href="/">Home</a>
          <a class="active">Games</a>
          <a href="/contact">Contact</a>
          <a href="/about">About</a>
        </div>
       {% block content %}{% endblock %}
    </main>
    <script src=""></script>
  </body>
</html>