<!DOCTYPE html>
<link rel="stylesheet" href="static/css/style.css">
<link rel="icon" type="image/x-icon" href="static/images/logo.jpg">
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <style>
      body {
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
    }
    </style>
  </head>
  <body>
    <main>
        <center><h1>Contact</h1> </center>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/games">Games</a>
            <a class="active"> Contact</a>
            <a href="/about">About</a>
          </div>
        <p>Send email here: <a href="mailto:josh.titherington@gmail.com">Send email</a></p>
    </main>
	<script src="index.js"></script>
  </body>
</html>