{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="header">
            <h2>Games</h2>
        </div>
        <!--Creates the boxes for each game in the database with a image attached.-->
        <div class="box-container">
            {% for game in games %}
            <div class="box">
                <div class="placeholder">
                    <img src= "{{ game[2] }}" alt="{{ game[3] }}">
                </div>
                <div class="box-text"><a href="/videogame/{{ game[0] }}">{{ game[1] }}</a></div><!--Links the text within the box to a page which contains information about the game-->
            </div>
            {% endfor %}
            <!--Each box contains the image I want it to show-->
            </div>
        </div>
    </div>
    {% endblock %}