<!DOCTYPE html>
<link rel="stylesheet" href="static/css/style.css">
<link rel="icon" type="image/x-icon" href="static/images/logo.jpg">
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video Game Database</title>
    <link rel="icon" href="game.jpg" type="image/x-icon">
    <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      padding: 0;
  }
  </style>
  </head>
  <body>
    <main>
        <center><h1>Weed Eater</h1></center>
        <div class="topnav">
          <a href="/">Home</a>
          <a href="/games">Games</a>
          <a href="/contact">Contact</a>
          <a href="/about">About</a>
        </div>
        <center><p>Weed Eater</p></center>
        <img src="static/images/bg3.jpg" alt="Image 1">
        <p>Hello World.</p>
    </main>
    <script src=""></script>
  </body>
</html>